<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <style>

    </style>
    <title>Complaint</title>
</head>
<body>
    <form action="/complaint" class="center" method="post" enctype="multipart/form-data">
        <input type="text" name="CompName" placeholder="Complaint Name">
        <br>
        <input type="text" name="CompDetails" placeholder="Complaint Details">
        <br>
        <input type="text" name="CompLocation" placeholder="Complaint Location">
        <br>
        <br>
        <input type="file" name="CompImage" id="CompImage" accept="image/*" hidden/>
        <label for="CompImage">Click to Upload Image</label>
        <br>
        <br>
        <input type="file" name="locationImage" id="locationImage" accept="image/*" hidden/>
        <label for="locationImage">Click to Upload Location Image</label>
        <br>
        <br>
        <input type="submit" value="Confirm">
    </form>
    <br>


</body>
</html>